[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ChannelAttributionApp"]
	path = ChannelAttributionApp
	url = https://github.com/cran/ChannelAttributionApp
[submodule "FBFsearch"]
	path = FBFsearch
	url = https://github.com/cran/FBFsearch
